# Xcode
.DS_Store
/build

# User-specific (never commit)
**/xcuserdata/
**/*.xcuserdatad/
*.xccheckout
*.moved-aside
**/xcshareddata/WorkspaceSettings.xcsettings

bbticker/.vscode/

# Swift
.swiftpm/

Packages/
*.swiftdeps
*.swiftmodule

# Pods
Pods/
Podfile.lock

#Firebase
bbticker/GoogleService-Info.plist

#AI
.env
.aider*
