<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>GetBalanceIntent</string>
	</array>
	<key>NSSiriUsageDescription</key>
	<string>This app uses Siri to let you check your balance with voice commands.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.alehfiodarau.bbticker.background-fetch</string>
		<string>com.alehfiodarau.bbticker.standalone.background-fetch</string>
	</array>
</dict>
</plist>
